<h3>Create new item</h3>
<form
  [formGroup]="itemForm"
  (ngSubmit)="createItem()"
  clrForm
  clrLayout="vertical"
>
  <clr-input-container>
    <label>Name</label>
    <input formControlName="name" clrInput type="text" name="name" />
    <clr-control-error
      >Name is required and must not exceed 200 characters.</clr-control-error
    >
  </clr-input-container>
  <button class="btn btn-primary" type="submit" (click)="createItem()">
    Create
  </button>
  <button class="btn" type="button" (click)="resetForm()">Reset</button>
</form>
