#search_input.inventory-override {
  margin-left: 6px;
  padding-left: 6px;
}

.username {
  padding-right: 8px;
}

.theme-toggler {
  display: flex;
  align-items: center;
  justify-items: center;
}
